@import url("https://use.typekit.net/gvm0ikq.css");
@import url("https://use.typekit.net/gvm0ikq.css");

body {
    background-color: #210000;
    text-align: center;
}
body h1 {
    font-family: "itc-benguiat", serif;
    font-style: normal;
    font-weight: 400;
    color:#ff1515;
    font-size: 10vw;
    padding-top: 30px;
    text-decoration: overline;
}
body h2 {
    font-family: "itc-benguiat", serif;
    font-style: normal;
    font-weight: 400;
    color:#ff1515;
    font-size: 5vw;
}
body p {
    font-family: "itc-benguiat", serif;
    font-style: normal;
    font-weight: 400;
    color:#FEC400;
    font-size: 2.5vw;
}
body iframe {
    height: 40vw;
    width: 80vw;
}
body ul {
    font-family: "itc-benguiat", serif;
    font-style: normal;
    font-weight: 400;
    color:#FEC400;
    font-size: 3vw;
    list-style-type:none;
    padding: 0;
}
body li {
    padding:30px;
    background-color: black; 
}